<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Message</title>
</head>
<body>
    {% extends "chat_rooms/base.html" %}

        {% block head %}
        {% load static %}
            <link href="{% static 'css/new_message.css' %}" rel="stylesheet">
    {% endblock head %}

    {% block content %}
        <h1 class="title">Post a New Message</h1>
        <form action="{% url 'chat_rooms:chatroom_post' %}" method="post">

            {% csrf_token %}

            <div class="new_message_form">
                {{ form.as_p }}
            </div>

            <div class="send_button_div">

                <!-- used AI for this button -->
                <button class="cancel_button" type="button"

                        onclick="window.location.href='{% url 'chat_rooms:chatroom_list' %}'">
                    Cancel
                </button>

                <button class="send_button" type="submit" name="submit">Send</button>
            </div>

        </form>

    {% endblock %}


</body>
</html>